<!DOCTYPE html>
<html lang="en">
<head>
     <title>Tcz Academy | Solutions</title>
     
     

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="team" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="/static/bootstrap.min.css">
     <link rel="stylesheet" href="/static/owl.carousel.css">
     <link rel="stylesheet" href="/static/owl.theme.default.min.css">
     <link rel="stylesheet" href="/static/font-awesome.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="/static/tooplate-style.css">

     <!-- Bizwheel Stylesheet -->  
     <link rel="stylesheet" href="/static/style.css">
    

</head>
<body>

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand">Tcz Academy / Solutions</a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#services" class="smoothScroll">Services</a></li>
                         <li><a href="#pricing" class="smoothScroll">About Us</a></li>
                         <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#">Say hello - <span>info@tcz.com <br> +91-9307475414</span></a></li>
                    </ul>
               </div>

               

          </div>
     </section>

        
     <!-- FEATURE -->
     <section id="home" data-stellar-background-ratio="0.5">
         
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                 
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                         <div class="home-info">
                              <h3>We are always ready to help you</h3>
                              <h1>We Build Your Business Not Just A Website</h1>
                              <form action="/mobile" method="post" class="online-form" role="form">
                                   <input type="text" maxlength="12"  name="mobileNo" class="form-control" placeholder="Enter your mobile number" required style="    margin: 0px;
                                   width: -1px;
                                   margin-right: 0px;
                                   width: 375px;">
                                   <button type="submit" class="form-control">Get started</button>
                              </form>
                         </div>
                    </div>

               </div>
          </div>
     </section>


		<section id="services" class="features-area section-bg">
			<div class="container">
				<div class="row">

                         <!-- <% if(success != '') {%>
                              <div class="alert alert-success" role="alert">
                               <strong>Success!</strong><%= success %>
                             </div>
                             <% } %> -->

                           <center><div class="col-md-12 col-sm-12">
                               <div class="section-title">
                                  <h1>Tcz Services</h1>
                               </div>
                           </div></center>

					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="#">Website Development</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper, velitsd odio scelerisque tod</p>
							<div class="button">
								<a href="#" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Search Engine Optimization(SEO)</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper,</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature active">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Social Media Marketing</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper, velitsd odio scelerisque tod</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Mobile App Development</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper, velitsd odio scelerisque tod</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>                                        
                                       <div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Business Marketing Video</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper,</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-head"><i class="fa fa-podcast"></i></div>
							<h4><a href="service-single.html">Domain/Hosting</a></h4>
							<p>Aenean aliquet rutrum enimn scelerisque. Nam dictumanpo, antequis laoreet ullamcorper, velitsd odio scelerisque tod</p>
							<div class="button">
								<a href="service-single.html" class="bizwheel-btn"><i class="fa fa-arrow-circle-o-right"></i>Learn More</a>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Features Area -->


     <!-- FEATURE -->
     <section id="feature" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <center><div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h1>We Offer</h1>
                         </div></center>
                    </div>

                    <div class="col-md-12 col-sm-12">
                         <ul class="nav nav-tabs" role="tablist">
                              <li class="active"><a href="#tab01" aria-controls="tab01" role="tab" data-toggle="tab">Creative Design</a></li>

                              <li><a href="#tab02" aria-controls="tab02" role="tab" data-toggle="tab">Quality Service</a></li>

                              <li><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab">On-time Delivery</a></li>

                              <li><a href="#tab03" aria-controls="tab03" role="tab" data-toggle="tab">24/7 Support</a></li>
                         </ul>

                         <div class="tab-content">
                              <div class="tab-pane active" id="tab01" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h2>Minimal Design</h2>
                                        <p>Nam feugiat a ante sollicitudin luctus. Quisque eget placerat massa. Ut quis ligula ornare, pellentesque velit eget, vestibulum est. Donec pretium tristique elit eget sodales. Pellentesque posuere.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>Easy to use</h2>
                                        <p>Aliquam massa massa, consectetur non mattis fringilla, sodales ac turpis. Morbi ac felis sagittis, faucibus mauris vitae, placerat mauris.</p>
                                   </div>
                              </div>


                              <div class="tab-pane" id="tab02" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h2>Compatible Browsers</h2>
                                        <p>Nam maximus elit a metus luctus, a faucibus magna mattis. Ut malesuada viverra iaculis. Nunc euismod sit amet neque a tincidunt.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>User Friendly</h2>
                                        <p>Maecenas maximus velit lorem, quis pharetra turpis fringilla id. Vestibulum tempor facilisis efficitur. Sed nec nisi sit amet nibh pellentesque elementum.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>HTML5 & CSS3</h2>
                                        <p>In viverra ipsum ornare sapien rhoncus ullamcorper. Vivamus vitae risus ac mi vehicula sagittis. Nulla dictum magna sit amet pharetra aliquam.</p>
                                   </div>
                              </div>

                              <div class="tab-pane" id="tab03" role="tabpanel">
                                   <div class="tab-pane-item">
                                        <h2>Quick Support</h2>
                                        <p>Mauris rutrum est at fringilla pulvinar. Nam ligula urna, lobortis non scelerisque vel, molestie eu massa. Nullam mattis elit at tortor accumsan.</p>
                                   </div>
                                   <div class="tab-pane-item">
                                        <h2>Managed Stuffs</h2>
                                        <p>Quisque ullamcorper sem quis sapien cursus efficitur. Sed id sodales ipsum. Morbi eleifend tempus erat sit amet vehicula. Nulla at posuere tellus, non mattis erat. Nulla id massa gravida.</p>
                                   </div>
                              </div>
                         </div>

                    </div>

               </div>
          </div>
     </section>


     <!-- PRICING -->
     <section id="pricing" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h1>Choose any plan</h1>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="pricing-thumb">
                             <div class="pricing-title">
                                  <h2>Student</h2>
                             </div>
                             <div class="pricing-info">
                                   <p>20 Responsive Designs</p>
                                   <p>10 Dashboards</p>
                                   <p>1 TB Storage</p>
                                   <p>6 TB Bandwidth</p>
                                   <p>24-hour Support</p>
                             </div>
                             <div class="pricing-bottom">
                                   <span class="pricing-dollar">$200/mo</span>
                                   <a href="#" class="section-btn pricing-btn">Register now</a>
                             </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="pricing-thumb">
                             <div class="pricing-title">
                                  <h2>Business</h2>
                             </div>
                             <div class="pricing-info">
                                   <p>50 Responsive Designs</p>
                                   <p>30 Dashboards</p>
                                   <p>2 TB Storage</p>
                                   <p>12 TB Bandwidth</p>
                                   <p>15-minute Support</p>
                             </div>
                             <div class="pricing-bottom">
                                   <span class="pricing-dollar">$350/mo</span>
                                   <a href="#" class="section-btn pricing-btn">Register now</a>
                             </div>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <div class="pricing-thumb">
                             <div class="pricing-title">
                                  <h2>Professional</h2>
                             </div>
                             <div class="pricing-info">
                                   <p>100 Responsive Designs</p>
                                   <p>60 Dashboards</p>
                                   <p>5 TB Storage</p>
                                   <p>25 TB Bandwidth</p>
                                   <p>1-minute Support</p>
                             </div>
                             <div class="pricing-bottom">
                                   <span class="pricing-dollar">$550/mo</span>
                                   <a href="#" class="section-btn pricing-btn">Register now</a>
                             </div>
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>   

<!-- TESTIMONIAL -->
     <section id="testimonial">

        <div class="container">

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">


                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">

                        <!-- Wrapper for slides -->

                        <div class="carousel-inner" role="listbox">

                            <div class="item active">

                                <p><img class="img-circle img-thumbnail" src="/static/88.jpg" alt=""></p>

                                <h4>Louise S. Morgan</h4>

                                <small>Treatment, storage, and disposal (TSD) worker</small>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>

                            </div>

                            <div class="item">

                                <p><img class="img-circle img-thumbnail" src="/static/88.jpg" alt=""></p>

                                <h4>Louise S. Morgan</h4>

                                <small>Treatment, storage, and disposal (TSD) worker</small>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut et dolore magna aliqua. Ut enim ad minim veniam</p>

                            </div>

                        </div>


                        <!-- Controls -->

                        <div class="btns">

                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="prev">

                                <span class="fa fa-angle-left" aria-hidden="true"></span>

                                <span class="sr-only">Previous</span>

                            </a>

                            <a class="btn btn-primary btn-sm" href="#carousel-testimonial" role="button" data-slide="next">

                                <span class="fa fa-angle-right" aria-hidden="true"></span>

                                <span class="sr-only">Next</span>

                            </a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>
    


     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-offset-1 col-md-10 col-sm-12">
                         <form id="contact-form" role="form" action="/product" method="post">
                              <div class="section-title">
                                   <h1>Say hello to us</h1>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                   <input type="text" class="form-control" placeholder="Full name" name="name" required>
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="email" class="form-control" placeholder="Email address" name="email" required>
                              </div>
                              <div class="col-md-12 col-sm-12">
                                   <textarea class="form-control" rows="8" placeholder="Your message" name="message" required></textarea>
                              </div>
                              <div class="col-md-4 col-sm-4">
                                   <input type="submit" class="form-control" name="send message" value="Send Message">
                              </div>
                         </form>
                    </div>

               </div>
          </div>
     </section>       


     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="copyright-text col-md-12 col-sm-12">
                         <div class="col-md-6 col-sm-6">
                              <p>Copyright &copy; 2020 Tcz Academy | Solutions</p>
                         </div>

                         <div class="col-md-6 col-sm-6">
                              <ul class="social-icon">
                                   <li><a href="#" class="fa fa-facebook" attr="facebook icon"></a></li>
                                   <li><a href="#" class="fa fa-youtube"></a></li>
                                   <li><a href="#" class="fa fa-linkedin"></a></li>
                                   <li><a href="#" class="fa fa-instagram"></a></li>
                              </ul>
                         </div>
                    </div>

               </div>
          </div>
     </footer>

     <!-- SCRIPTS -->
     <script src="static/jquery.js"></script>
     <script src="static/bootstrap.min.js"></script>
     <script src="static/jquery.stellar.min.js"></script>
     <script src="static/owl.carousel.min.js"></script>
     <script src="static/smoothscroll.js"></script>
     <script src="static/custom.js"></script>
</body>
</html>